{% load static %} {% url 'profiles:profile' as path_to_my_profile %}
<nav class="navbar navbar-expand navbar-theme mt-3">
  <a class="sidebar-toggle d-flex me-2">
    <i class="hamburger align-self-center"></i>
  </a>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown ms-lg-2">
        <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-bs-toggle="dropdown">
          <i class="align-middle fas fa-cog"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="{{path_to_my_profile}}"><i class="align-middle me-1 fas fa-fw fa-user"></i> View profile</a>
          <a class="dropdown-item" href="{% url 'logout' %}"><i class="align-middle me-1 fas fa-fw fa-arrow-alt-circle-right"></i> Sign out</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
